<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传成功</title>
    <style>
        .grades_note {
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="grades_note">
    <br><br>
    <p>本应用仅提供最基础的成绩分析，以提高效率，不作为最后提交流程的结果</p>
    <p>请谨慎使用，建议在此基础上加上应有的分析</p>
    <a href="/grades_analysis/download_grade_analysis/{{ message }}">文件下载</a><br><br><hr>
    <p>开发不易，如果有帮助到您节省了时间，打赏两杯奶茶呗</p>
    <img src="/static/osyouth.jpg" width="150px" height="180px">
    <p>如果有任何建议或者发现任何bug，请发送到 lichi621@outlook.com</p>
</div>
</body>
</html>