{% extends "admin/base.html" %}
{% block extrastyle %}{{ block.super }}
    <style>
        .note {
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
    </style>
{% endblock %}


{% block footer %}{{ block.super }}
    <div class="note">
        <br><br>
{#        <p>开发不易，如果有帮助到您节省了时间，赞助一下呗</p>#}
{#        <img src="/static/osyouth.jpg" width="150px" height="180px">#}
{#        <p>本网站提供毕业设计文档的自动生成，包括以下四种文档：</p>#}
{#        <p>毕业设计任务书、指导记录表、评阅表、答辩记录表</p>#}
{#        <p>最快可以不到1分钟生成以上所有文档</p>#}
        <p>账号：工号/学号&nbsp&nbsp&nbsp&nbsp初始密码：123456</p>
        <p>如果有任何建议或者发现任何bug，请发送至 lichi621@outlook.com</p>
    </div>
{% endblock %}