{% extends "admin/base.html" %}
{% block extrastyle %}{{ block.super }}
    <style>
        .note {
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block footer %}{{ block.super }}
    <div class="note">
        <br><br>
{#        <p>开发不易，如果有帮助到您节省了时间，赞助一下呗</p>#}
{#        <img src="/static/osyouth.jpg" width="150px" height="180px">#}
        <p>如果有任何建议或者发现任何bug，请发送至 lichi621@outlook.com</p>
    </div>
{% endblock %}