{% extends "admin/change_form.html" %}
{% block extrastyle %}{{ block.super }}
    <style>
        .template_download {
            margin: auto;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}{{ block.super }}
    <div class="template_download">
        <p style="color: red">替换字的使用可以参考如下文件</p>
        <a href="/static/毕业设计任务书（以大数据技术专业为例）.doc">毕业设计任务书（以大数据技术专业为例）.doc</a><br>
        <p style="color: red">空的文本请保留'*'号，修改将会导致自动生成的文档错误</p>
    </div>
{% endblock %}